body {
  font-family: "Arial-black", sans-serif;
  font-weight: lighter;
  margin: 40px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color : black;

}

a:hover {
  color : gray;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width : 65%;
  background-color: lightgray;
}

.categories table {
  width: 80%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.login {
  margin: 20px;
  float:right;
  padding: 35px;
}

.logo {
  display:block;
  height:110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.contenu {
  width : inherit;
  min-height: 500px;
  max-width: 800px;
  float : left;
  padding: 10px;
  margin: 30px;
}
