html {
  background-color: #E3E3E3;
}
body {
  font-family: "Arial-black", sans-serif;
  font-weight: lighter;
  margin: 0px;
  background-color: #65B8DC;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color : #336699;

}

h3 {
    text-align: center;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 5px;
}

a:hover {
  color : gray;
}

.main {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width : 70%;
  padding-top : 0px;
}

.categories table {
  width: 80%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display:block;
  height:160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.contenu {
  width : auto;
  min-height: 500px;
  width: 1200px;
  float : left;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  margin-top: 0px;
  background-color: white;
  border: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: #241F37;
  margin-left: auto;
  margin-right: auto;
}

.login {
  margin-left: 20px;
  margin-right: auto;
  float: left;
  padding: 5px;
  width: 160px;
}

.input {
  margin-bottom: 10px;
}

.court {
  height : 400px;
  width: 40%;
  float:left;
  box-sizing: border-box;
  margin : 20px;
  margin-left: 45px;
  margin-right: 45px;
  text-align: justify;
  padding: 10px;
  background-color:white;
}

.image {
  height:200px;
  width :inherit;
  box-sizing: border-box;
}
.image img {
  object-fit: cover;
  display: block;
  height : inherit;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

}

.header {
  width:inherit;
  box-sizing: border-box;
}

.court .corps {
  width : inherit;
  box-sizing: border-box;
}
